<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="socials">
          <li class="fab fa-facebook-square socials__item socials__item_fb"><a href="https://web.facebook.com/"></a></li>
          <li class="fab fa-twitter-square socials__item socials__item_tw"><a href="https://twitter.com/"></a></li>
          <li class="fab fa-google-plus-square socials__item socials__item_g"><a href="https://google.com"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="line"></div>
    </div>
    <div class="col-lg-4">
      <div class="credits">
        2021© All rights reserved
      </div>
    </div>
    <div class="col-lg-4">
      <div class="line"></div>
    </div>
  </div>
</footer>
