<div class="card filters">
  <div class="card-header">
    <select class = "sort-by" style="width:100px;" (change)="sort($event)">
      <option value="" selected disabled hidden>Sort By</option>
      <option value="Name">Name</option>
      <option value="Low">Show Low to High Price</option>
      <option value="High">Show High to Low Price</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-md-4" *ngFor="let product of productListRetrieve">
    <app-product-items [productItem]="product"></app-product-items>
  </div>
</div>
