                               <!-- Banner section -->
<div id="banner">
<div id="tex_banner">Lorem Ipsum is simply dummy text
<div id="small_text"><small>the industry's standard dummy text ever since the 1500s</small></div></div>
</div>
                                <!-- Banner section -->

<main class="wrap main_flex__nowrap flex__jcontent_between flex_align-items_start">
<div id="left_bar">

  <div id="category" class="box">

    <!-- WOMAN SLIDE -->

    <div class="list_box">
      <div class="title_box main_flex__nowrap flex__align-items_center flex__jcontent_between">
        <p>Woman</p>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path fill-rule="evenodd" d="M2.647,3.999 L-0.000,6.775 L1.167,8.000 15.000,3.999
L1.167,-0.000 L-0.000, 1.224 L2.647,3.999 L2.647,3.999 Z" />
        </svg>

      </div>

      <div class="list_link">
        <nav>
          <li><a href="#">Jackets</a></li>
          <li><a href="#">Blazers</a></li>
          <li><a href="#">Suits</a></li>
          <li><a href="#">Trousers</a></li>
          <li><a href="#">Jeans</a></li>
          <li><a href="#">Shirts</a></li>
        </nav>
      </div>
    </div>

    <!-- WOMAN SLIDE -->
    <!-- MAN SLIDE -->
    <div class="list_box">
      <div class="title_box main_flex__nowrap flex__align-items_center flex__jcontent_between">
        <p>Woman</p>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path fill-rule="evenodd" d="M2.647,3.999 L-0.000,6.775 L1.167,8.000 15.000,3.999
                                                            L1.167,-0.000 L-0.000, 1.224 L2.647,3.999 L2.647,3.999 Z" />
        </svg>

      </div>

      <div class="list_link">
        <nav>
          <li><a href="#">Jackets</a></li>
          <li><a href="#">Blazers</a></li>
          <li><a href="#">Suits</a></li>
          <li><a href="#">Trousers</a></li>
          <li><a href="#">Jeans</a></li>
          <li><a href="#">Shirts</a></li>
        </nav>
      </div>
    </div>
    <!-- MAN SLIDE -->
    <!-- KID SLIDE -->
    <div class="list_box">
      <div class="title_box main_flex__nowrap flex__align-items_center flex__jcontent_between">
        <p>Woman</p>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path fill-rule="evenodd" d="M2.647,3.999 L-0.000,6.775 L1.167,8.000 15.000,3.999
                                                                   L1.167,-0.000 L-0.000, 1.224 L2.647,3.999 L2.647,3.999 Z" />
        </svg>

      </div>

      <div class="list_link">
        <nav>
          <li><a href="#">Jackets</a></li>
          <li><a href="#">Blazers</a></li>
          <li><a href="#">Suits</a></li>
          <li><a href="#">Trousers</a></li>
          <li><a href="#">Jeans</a></li>
          <li><a href="#">Shirts</a></li>
        </nav>
      </div>
    </div>
    <!-- KID SLIDE -->
  </div>

  <div class="filter_box box">

    <div class="title_filter main_flex__nowrap flex__jcontent_start flex__align-items_center">
      COLORS
    </div>

    <div class="content_filter">

      <ul class="list_filter main_flex flex__jcontent_start flex_align-items_start color_list">
        <li><input id="blue" type="checkbox"><label style="background-color:#1476f1" for="blue"></label></li>
        <li><input id="green" type="checkbox"><label style="background-color:#82d889" for="green"></label></li>
        <li><input id="color3" type="checkbox"><label style="background-color:#3c3d41" for="color3"></label></li>
        <li><input id="color4" type="checkbox"><label style="background-color:#838d8f" for="color4"></label></li>
        <li><input id="color5" type="checkbox"><label style="background-color:#b8c6c7" for="color5"></label></li>
        <li><input id="color6" type="checkbox"><label style="background-color:#ce954a" for="color6"></label></li>
        <li><input id="color7" type="checkbox"><label style="background-color:#3c3d41" for="color7"></label></li>
        <li><input id="color8" type="checkbox"><label style="background-color:#b8c6c7" for="color8"></label></li>
        <li><input id="color9" type="checkbox"><label style="background-color:#3c3d41" for="color9"></label></li>
        <li><input id="color10" type="checkbox"><label style="background-color:#3c3d41" for="color10"></label></li>
      </ul>

    </div>

  </div>


  <div class="filter_box box">

    <div class="title_filter main_flex__nowrap flex__jcontent_start flex__align-items_center">
      SIZE
    </div>

    <div class="content_filter">

      <ul class="list_filter main_flex flex__jcontent_start flex_align-items_start">
<li><input  id="size1" type="checkbox"><label for="size1">XS</label></li>
        <li><input  id="size2" type="checkbox"><label for="size2">S</label></li>
          <li><input  id="size3" type="checkbox"><label for="size3">M</label></li>
            <li><input  id="size4" type="checkbox"><label for="size4">L</label></li>
              <li><input  id="size5" type="checkbox"><label for="size5">XL</label></li>
      </ul>

    </div>

  </div>

</div>

<div id="right_bar">

<div class="list_product main_flex flex__jcontent_start flex__align-items_start">
<a class="product box main_flex__nowrap flex__jcontent_center flex__align-items_center">
  <div class="img_product">
    <img src="./assets/img/pl3.png" alt="250x250size">
  </div>
  <h2>SKULL HAT</h2>
  <p>Blac Grey moon</p>
  <p>55$</p>
</a>

<a class="product box main_flex__nowrap flex__jcontent_center flex__align-items_center">
  <div class="img_product">
    <img src="./assets/img/pl3.png" alt="250x250size">
  </div>
  <h2>SKULL HAT</h2>
  <p>Blac Grey moon</p>
  <p>55$</p>
</a>

<a class="product box main_flex__nowrap flex__jcontent_center flex__align-items_center">
  <div class="img_product">
    <img src="./assets/img/pl3.png" alt="250x250size">
  </div>
  <h2>SKULL HAT</h2>
  <p>Blac Grey moon</p>
  <p>55$</p>
</a>

<a class="product box main_flex__nowrap flex__jcontent_center flex__align-items_center">
  <div class="img_product">
    <img src="./assets/img/pl3.png" alt="250x250size">
  </div>
  <h2>SKULL HAT</h2>
  <p>Blac Grey moon</p>
  <p>55$</p>
</a>

<a class="product box main_flex__nowrap flex__jcontent_center flex__align-items_center">
  <div class="img_product">
    <img src="./assets/img/pl3.png" alt="250x250size">
  </div>
  <h2>SKULL HAT</h2>
  <p>Blac Grey moon</p>
  <p>55$</p>
</a>

<a class="product box main_flex__nowrap flex__jcontent_center flex__align-items_center">
  <div class="img_product">
    <img src="./assets/img/pl3.png" alt="250x250size">
  </div>
  <h2>SKULL HAT</h2>
  <p>Blac Grey moon</p>
  <p>55$</p>
</a>

<a class="product box main_flex__nowrap flex__jcontent_center flex__align-items_center">
  <div class="img_product">
    <img src="./assets/img/pl3.png" alt="250x250size">
  </div>
  <h2>SKULL HAT</h2>
  <p>Blac Grey moon</p>
  <p>55$</p>
</a>

<a class="product box main_flex__nowrap flex__jcontent_center flex__align-items_center">
  <div class="img_product">
    <img src="./assets/img/pl3.png" alt="250x250size">
  </div>
  <h2>SKULL HAT</h2>
  <p>Blac Grey moon</p>
  <p>55$</p>
</a>

<a class="product box main_flex__nowrap flex__jcontent_center flex__align-items_center">
  <div class="img_product">
    <img src="./assets/img/pl3.png" alt="250x250size">
  </div>
  <h2>SKULL HAT</h2>
  <p>Blac Grey moon</p>
  <p>55$</p>
</a>
</div>

<button id="load_more" type="button">Load More</button>

</div>
</main>

<script src="./assets/js/control.js"></script>
